<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- BootstrapのCSS読み込み -->
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- BootstrapのJS読み込み -->
	    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - 貯金実績</title>
	</head>
	<body>
		<h2>貯金実績一覧</h2>
		<table border="">
			<tr>
				<th>貯金合計金額</th>
			</tr>
			<tr>
				<td colspan="2" >
					合計金額 $!savingsPerformanceTotal 円
				</td>
			</tr>
		</table>
		<table border>
			<tr>
				<th>貯金年月</th>
				<th>貯金金額</th>
				<th>貯金目標金額</th>
			</tr>
			#foreach($savingsPerformance in $!savingsPerformanceList.savingsPerformanceList)
			<tr>
				<td>$savingsPerformance.savingsPerformanceRevenueMonth.value</td>
				<td>$savingsPerformance.savingsPerformanceAmount.value 円</td>
				<td>$savingsPerformance.savingsGoalAmount.value 円</td>
			</tr>
			#end
		</table>
		<form action="${link.contextURL}/top" method="post">
			<input type="submit" value="TOP画面へ">
		</form>
	</body>
</html>
