<div class="col-sm-8 col-sm-offset-2">
	<div class="form-group">
		<label for="inputFixedCostName">固定費名</label>
		#springFormInput("fixedCost.fixedCostName.value" 'class="form-control" placeholder="固定費名を入力してください。"')
		#springShowErrors("<br>" "color : red")
	</div>
	<div class="form-group">
		<label for="inputFixedCostAmount">固定費額</label>
		<div class="input-group col-sm-6">
			#springFormInput("fixedCost.fixedCostAmount.value" 'class="form-control" placeholder="固定費額を入力してください。"')
			<span class="input-group-addon">円</span>
		</div>
		#springShowErrors("<br>" "color : red")
	</div>
</div>
