<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    ##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - 固定費編集</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>毎月の固定費の編集</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button">ログアウト</a></p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>変更前の固定費</h3>
						</div>
						<table class="table table-striped table-responsive">
							<tbody>
								<tr>
									<th>固定費名</th>
									<td align="center">$fixedCost.fixedCostName.value</td>
								</tr>
								<tr>
									<th>固定費額</th>
									<td align="center">$fixedCost.fixedCostAmount.value 円</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>変更したい値を入力してください。</h3>
						</div>
						<div class="panel-body">
							<form  id="fixedCost_modify" action="${link.contextURL}/modify/fixed_cost/execute" method="post">
								#springFormHiddenInput("fixedCost.fixedCostId.value")
								#parse("fixed_cost/fixed_cost_register_table.vm")
							</form>
							<form id="escape" action="${link.contextURL}/register/fixed_cost/list" method="post">
								#springFormHiddenInput("user")
							</form>
							<button type="submit" class="btn btn-primary col-sm-5" form="escape">もどる</button>
							<button type="submit" class="btn btn-success col-sm-5  pull-right" form="fixedCost_modify">編集完了</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
