<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    ##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Billionaire - 初期設定3/3</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>システムを始める前の初期設定（3/3）毎月の貯金目標の設定</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button">ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form id="savings_goal_register" action="${link.contextURL}/register/savings_goal/execute" method="post">
								<div class="col-sm-8 col-sm-offset-2">
									#springFormHiddenInput("savingsGoal.userId.value")
									<div class="form-group">
										<label for="inputSavingsGoalAmountCostName">毎月の貯金目標</label>
										<div class="input-group col-sm-8">
											<span class="input-group-addon">毎月</span>
											#springFormInput("savingsGoal.savingsGoalAmount.value" 'class="form-control" placeholder="毎月の貯金目標を入力してください。"')
											<span class="input-group-addon">円</span>
										</div>
										#springShowErrors("<br>" "text-danger")
										#springBind("savingsGoal.savingsGoal")
										#springShowErrors("<br>" "text-danger")
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 margin">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="submit" class="btn btn-success" form="savings_goal_register">登録完了</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
