<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    ##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - 初期設定1/3</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>システムを始める前の初期設定（1/3）1か月の収入の設定</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button">ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form  id="income_register" action="${link.contextURL}/register/income/execute" method="post">
								<div class="col-sm-8 col-sm-offset-2">
									<div class="form-group">
										<label for="inputIncomeAmount">1か月の収入金額</label>
										<div class="input-group col-sm-8">
											#springFormInput("income.incomeAmount.value" 'class="form-control" placeholder="1か月の収入金額を入力してください。"')
											<span class="input-group-addon">円</span>
										</div>
										#springShowErrors("<br>" "text-danger")
									</div>
									<div class="form-group">
										<label for="inputIncomeRevenueDate">毎月の収入日</label>
										<div class="input-group col-sm-5">
											<span class="input-group-addon">毎月</span>
											#springFormInput("income.incomeRevenueDate.value" 'class="form-control" placeholder="収入日を入力してください。"')
											<span class="input-group-addon">日</span>
										</div>
										#springShowErrors("<br>" "text-danger")
									</div>
									<div class="form-group">
										<label for="inputBalanceAmpunt">今月の残り使用可能金額</label>
										<div class="input-group col-sm-8">
											#springFormInput("balance.balanceAmount.value" 'class="form-control" placeholder="今月の残り使用可能金額を入力してください。"')
											<span class="input-group-addon">円</span>
										</div>
										#springShowErrors("<br>" "text-danger")
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-3 col-sm-6 margin">
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="submit" class="btn btn-success" form="income_register">次へ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav id="nav" class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
						<span class="sr-only">メニュー</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="${link.contextURL}/" class="navbar-brand">Billionaire</a>
				</div>

				<div id="gnavi" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="${link.contextURL}/logout">ログアウト</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>
