<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    ##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Billionaire</h1>
				<p>億万長者に"なれる"かも？</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="${link.contextURL}/login/check" method="post" id="login" >
								<div class="form-group">
									<label for="InputEmail">メールアドレス</label>
									#springFormInput("userSummary.userMail.value" 'class="form-control" placeholder="メールアドレスを入力してください。"')
								</div>
								<div class="form-group">
									<label for="InputPassword">パスワード</label>
									#springFormPasswordInput("userSummary.userPassword.value" 'class="form-control" placeholder="パスワードを入力してください。"')
								</div>
							</form>

					        <form id="new_register" action="" method="post"></form>

							<p>
								<button type="submit" class="btn btn-primary" form="new_register">新規会員登録</button>
								<button type="submit" class="btn btn-primary" form="login">ログイン</button>
							</p>

						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="jumbotron">
						<h1>このスペースは、Billionaireのロゴとかなんやかんやが入る予定でした！！！</h1>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
