<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		##<!-- jQuery読み込み -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		##<!-- BootstrapのJS読み込み -->
		<script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - Login</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>億万長者になれる"かも"？</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<span style="color : red">$!loginError</span>
							<form class="form-horizontal" id="login" action="${link.contextURL}/login/check" method="post">
								<div class="form-group">
									<label for="inputEmail" class="col-sm-3 control-label">メールアドレス</label>
									<div class="col-sm-9">
										#springFormInput("userSummary.userMail.value" 'class="form-control" placeholder="メールアドレスを入力してください。"')
									</div>
									<div class="row">
										<div class="col-sm-offset-3 col-sm-12">
											#springShowErrors("<br>" "color : red")
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">パスワード</label>
									<div class="col-sm-9">
										#springFormPasswordInput("userSummary.userPassword.value" 'class="form-control" placeholder="パスワードを入力してください。"')
									</div>
									<div class="row">
										<div class="col-sm-offset-3 col-sm-12">
											#springShowErrors("<br>" "color : red")
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<a class="btn btn-primary col-sm-5" href="${link.contextURL}/" role="button">TOPへ戻る</a>
										<button type="submit" class="btn btn-primary pull-right col-sm-5">ログイン</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</body>
</html>
