<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
	    ##<!-- BootstrapのCSS読み込み -->
	    <link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	    <title>Billionaire - TOP</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>$!esc.html(${user.userName.value})さん、こんにちは！</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>　ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					#parse("expense/daily_budget_panel.vm")
				</div>
				<div class="col-sm-6">
					#set ($temp = $intConv.valueOf($balance.balanceAmount.value))
					#if($temp > 0)
						<div class="panel panel-success">
							<div class="panel-heading">
								今月の使用可能金額
							</div>
							<div class="panel-body">
								<h3 align="right">$!number.format($!esc.html($balance.balanceAmount.value)) 円</h3>
							</div>
						</div>
					#elseif($temp < 0)
						<div class="panel panel-danger">
							<div class="panel-heading">
								今月の使用可能金額
							</div>
							<div class="panel-body">
								<h3 align="right">$!number.format($!esc.html($balance.balanceAmount.value)) 円</h3>
							</div>
						</div>
					#else
						<div class="panel panel-default">
							<div class="panel-heading">
								今月の使用可能金額
							</div>
							<div class="panel-body">
								<h3 align="right">$!number.format($!esc.html($balance.balanceAmount.value)) 円</h3>
							</div>
						</div>
					#end
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-success btn-block" href="$!esc.html(${link.contextURL})/expense/list" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>　出費登録</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h3 align="center">本日は　<u>$date</u>　です。</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 align="center">$month 月</h4>
								</div>
								#parse("top/top_calendar_table.vm")
							</div>
							<form id="lastMonth" action="${link.contextURL}/top/last" method="post"></form>
							<form id="thisMonth" action="${link.contextURL}/top"></form>
							<form id="nextMonth" action="${link.contextURL}/top/next" method="post"></form>
							<div class="btn-group btn-group-justified margin" role="group">
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-primary" form="lastMonth"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>　先月</button>
								</div>
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-primary" form="thisMonth">今月</button>
								</div>
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-primary" form="nextMonth">来月　<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							メニュー一覧
						</div>
						<div class="list-group">
							<a class="list-group-item" href="${link.contextURL}/expense/list">出費管理・登録</a>
							<a class="list-group-item" href="${link.contextURL}/savings_performance/list">貯金実績確認</a>
							<a class="list-group-item disabled" #*href="${link.contextURL}/setting"*#><del>システム設定管理</del></a>
							<a class="list-group-item disabled" ><del>追加収入の管理</del></a>
							<a class="list-group-item disabled" ><del>ユーザー情報変更</del></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse("top/navbar_member.vm")
	</body>
</html>
