<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Billionaire - TOP</title>
	</head>
	<body>
		<div class="hedder">
			<h2>${user.userName.value}さん、こんにちは</h2>
			<form id="logout" action="${link.contextURL}/logout" method=POST>
				<button type="submit" form="logout">ログアウト</button>
			</form>
		</div>
		<div class="menu">
			<ul>
				<li><a href="${link.contextURL}/expense/list">出費管理</a></li>
				<li><a href="${link.contextURL}/savings_performance/list">貯金実績確認</a></li>
				<li><a href="${link.contextURL}/setting/list">システム設定管理</a></li>
				<li><a href="${link.contextURL}/additional_income/list">追加収入の管理</a></li>
				<li><a href="${link.contextURL}/user_setting/">ユーザー情報変更</a></li>
			</ul>
		</div>
		<div class="main">
			<table>
				<tr>
					<th>今日の使用可能金額</th>
					<th>今月の使用可能金額</th>
				</tr>
				<tr align="right">
					<td>$dailyBudget.budget.value 円</td>
					<td>$balance.balanceAmount.value 円</td>
				</tr>
			</table>
			<table border>
				<tr>
					<th colspan="7">$date</th>
				</tr>
				<tr>
					<th>日</th>
					<th>月</th>
					<th>火</th>
					<th>水</th>
					<th>木</th>
					<th>金</th>
					<th>土</th>
				</tr>
				<tr>
				#foreach($calendar in $!calendarList.calendarDailyDetailList)
					<td align="center">
						<p>${calendar.calendarDetailDate.day}</p>
						#if($!{calendar.budget.value} == "---")
							$!{calendar.budget.value}
						#else
							<a href="${link.contextURL}/expense/list/${calendar.calendarDetailDate.year}${calendar.calendarDetailDate.month}${calendar.calendarDetailDate.day}">$!{calendar.budget.value}</a>
						#end
					</td>
					#if($velocityCount % 7 == 0)
						</tr><tr>
					#end
				#end
				</tr>
			</table>
		</div>
		<div class="footer">

		</div>

	</body>
</html>
