<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- BootstrapのCSS読み込み -->
		<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- BootstrapのJS読み込み -->
	    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
s		<title>Billionaire - 本日の出費編集</title>
	</head>
	<body>
		<h2>本日の出費編集</h2>
		<table border="">
			<tr>
				<th>出費名</th>
				<td>$expense.expenseName.value</td>
				<th>出費カテゴリ</th>
				<td>$expense.expenseCategory.label</td>
			</tr>
			<tr>
				<th>出費額</th>
				<td>$expense.expenseAmount.value 円</td>
			</tr>
			<tr>
				<th>備考</th>
				<td colspan="3">$expense.expenseMemo.value</td>
			</tr>
		</table>
		<br>

		<h3>変更したい値を入力してください。</h3>
		<form  id="expense_modify" action="${link.contextURL}/expense/modify/execute" method="post">
			#springFormHiddenInput("expense.expenseId.value")
			#parse("expense/expense_register_table.vm")
		</form>
		<form id="escape" action="${link.contextURL}/expense/list" method="post">
			#springFormHiddenInput("user")
		</form>
		<button type="submit" form="escape">もどる</button>
		<button type="submit" form="expense_modify">編集完了</button>
	</body>
</html>
