<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    ##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - $!esc.html($date)日の出費登録</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Billionaire</h1>
				<p>$!esc.html($date)日 の出費登録</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button">ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form  id="expense_register" action="${link.contextURL}/expense/register/execute" method="post">
								#parse("expense/expense_register_table.vm")
							</form>
							<form id="escape" action="${link.contextURL}/expense/list/$!escape" method="post">
								#springFormHiddenInput("user")
							</form>
							<button type="submit" class="btn btn-primary col-sm-5" form="escape">もどる</button>
							<button type="submit" class="btn btn-success col-sm-5  pull-right" form="expense_register">登録</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
