<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    ##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - $!esc.html($date)日の出費登録</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>$!esc.html($date)日 の出費登録</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button">ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form  id="expense_register" action="${link.contextURL}/expense/register/execute" method="post">
								#parse("expense/expense_register_table.vm")
							</form>
							<form id="escape" action="${link.contextURL}/expense/list/$!escape" method="post">
								#springFormHiddenInput("user")
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary col-sm-5 margin" form="escape">もどる</button>
					<button type="submit" class="btn btn-success col-sm-5 pull-right margin" form="expense_register">登録</button>
				</div>
			</div>
		</div>
		<nav id="nav" class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
						<span class="sr-only">メニュー</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="${link.contextURL}/" class="navbar-brand">Billionaire</a>
				</div>

				<div id="gnavi" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="${link.contextURL}/expense/list">出費管理・登録</a></li>
						<li><a href="${link.contextURL}/savings_performance/list">貯金実績確認</a></li>
						<li class="disabled"><a><del>システム設定管理</del></a></li>
						<li class="disabled"><a><del>追加収入の管理</del></a></li>
						<li class="disabled"><a><del>ユーザー情報変更</del></a></li>
						<li><a href="${link.contextURL}/logout">ログアウト</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>
