<p>*印のついている項目は必ず入力してください。</p>
<div class="col-sm-8 col-sm-offset-2">
	<div class="form-group">
		<label for="inputExpenseName">出費名</label>
		#springFormInput("expense.expenseName.value" 'class="form-control" placeholder="出費名を入力してください。"')
		#springShowErrors("<br>" "color : red")
	</div>
	<div class="form-group">
		<label for="inputExpenseCategory">*カテゴリ</label>
		#springFormSingleSelect("expense.expenseCategory" $expense.expenseCategory.options() 'class="form-control"')
	</div>
	<div class="form-group">
		<label for="inputExpenseAmount">*出費額</label>
		<div class="input-group col-sm-6">
			#springFormInput("expense.expenseAmount.value" 'class="form-control" placeholder="出費額を入力してください。"')
			<span class="input-group-addon">円</span>
		</div>
	</div>
	#springShowErrors("<br>" "color : red")
	<div class="form-group">
		<label for="inputExpenseMemo">備考</label>
		#springFormTextarea("expense.expenseMemo.value" 'rows="3" class="form-control" placeholder="備考を入力してください。"')
		#springShowErrors("<br>" "color : red")
	</div>
</div>
