<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    ##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	    ##<!-- jQuery読み込み -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    ##<!-- BootstrapのJS読み込み -->
	    <script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - $!esc.html($date)日の出費登録</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>$!esc.html($date)日 の出費登録</p>
				<p align="right"><a class="btn btn-primary btn-lg" href="${link.contextURL}/logout" role="button"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>　ログアウト</a></p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form  id="expense_register" action="${link.contextURL}/expense/register/execute" method="post">
								#parse("expense/expense_register_table.vm")
							</form>
							<form id="escape" action="${link.contextURL}/expense/list/$!escape" method="post">
								#springFormHiddenInput("user")
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary col-sm-5 margin" form="escape"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>　もどる</button>
					<button type="submit" class="btn btn-success col-sm-5 pull-right margin" form="expense_register"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>　登録</button>
				</div>
			</div>
		</div>
		#parse("top/navbar_member.vm")
	</body>
</html>
