<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		##<!-- CSS読み込み -->
		<link type="text/css" href="${link.contextURL}/css/billionaire.css" rel="stylesheet">
		##<!-- BootstrapのCSS読み込み -->
		<link type="text/css" href="${link.contextURL}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		##<!-- jQuery読み込み -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		##<!-- BootstrapのJS読み込み -->
		<script src="${link.contextURL}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<title>Billionaire - User Register</title>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1><a href="${link.contextURL}/">Billionaire</a></h1>
				<p>新規会員登録 - 確認</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form" id="user_register_execute" action="${link.contextURL}/user_register/execute" method="post">
								<div class="form-group">
									<label for="inputName" class="control-label">お名前</label>
									<p class="form-control-static">$!esc.html($user.userName.value)</p>
								</div>
								<div class="form-group">
									<label for="inputEmail" class="control-label">メールアドレス</label>
									<p class="form-control-static">$!esc.html($user.userMail.value)</p>
								</div>
								#springFormHiddenInput("user.userName.value")
								#springFormHiddenInput("user.userMail.value")
								#springFormHiddenInput("user.userPassword.value")
								<button type="submit" class="btn btn-primary col-sm-5 margin" formaction="${link.contextURL}/user_register/modify">修正する</a>
								<button type="submit" class="btn btn-success col-sm-5 margin pull-right">登録完了</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</body>
</html>
