<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="billionaire">
    <environment id="billionaire">
      <transactionManager type="JDBC"/>
      <!-- データソース -->
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/billionaire"/>
        <property name="username" value="ogawa"/>
        <property name="password" value="genuine"/>
      </dataSource>
    </environment>
  </environments>
<!--   <mappers>
    Mapperファイルのパスを記述
    <mapper resource=""/>
  </mappers> -->
</configuration>
